* {
    background-color: grey;
}
#header {
	border: 1px solid gray;
    background-color: lightgray;
    padding: 50px 30px 50px 80px;
    text-align: center;
    font-size: 40px;
}

#nav {
	border: 20px solid gray;
    background-color: lightgray;
    padding: 50px 30px 50px 80px;
    text-align: center;
    font-size: 30px;
}

#aside {
	border: 20px solid gray;
    background-color: lightgray;
    padding: 50px 30px 80px 80px;
    text-align: center;
    font-size: 30px;
    height: 300px;
    width: 35%;
    float: right;
}

.section {
	position: relative;
	border: 20px solid gray;
    background-color: lightgray;
    padding: 50px 30px 80px 80px;
    text-align: center;
    font-size: 30px;
    height: 300px;
    width: 45%;
}

#article {
	position: absolute;
	border: 20px solid gray;
    height: 250px;
    width: 83%;
    color: #ffffff;
    vertical-align: center;
}

#h1 {
	position: absolute;
	background-color: lightgray;
	height: 100px;
	width: 100%;
    text-align: center;
    color: gray;
    font-weight: bold;
    vertical-align: center;
}

#p {
	position: relative;
	background-color: lightgray;
	height: 100px;
	width: 100%;
    text-align: center;
    color: gray;
    top: 80px;
    vertical-align:center;
}

#footer {
	border: 1px solid gray;
    background-color: lightgray;
    padding: 50px 30px 50px 80px;
    text-align: center;
    font-size: 40px;
}